<h1>About Me</h1>
<p>Hello! I'm <strong>Belmin Music</strong>, and this page is all about me.</p>

<h2>Experience</h2>
<ul>
  <li> Personal Assistant, supporting individuals in care and support roles </li>
  <li> Student of programming and desing </li>
</ul>

<h2>Skills</h2>
<ul>
  <li>Communication & Leadership</li>
  <li>Negotiation & Business Acumen</li>
  <li>Independent and Team-Oriented Work</li>
</ul>
